<main
  class="w-full relative max-w-screen-lx mx-auto md:px-10 px-6 min-h-screen pt-16 lg:pt-0"
>
  <div class="w-full">
    <section class="w-full">
      <div
        class="flex items-center lg:mt-6 mb-6 bg-light-zinc/95 backdrop-blur-xl sticky top-0 lg:top-14 z-50 transition-all text-xl font-semibold lg:py-2"
      >
        <h1 class="px-1.5 -ml-1.5">Archive</h1>
      </div>
      <div class="py-0.5 pb-8">
        <a
          href="/archive/projects"
          class="flex justify-between gap-4 leading-none md:items-center group/link py-4 transition-colors hover:bg-zinc-100 rounded-md"
          ><p class="font-medium leading-snug md:col-span-2 flex items-center">
            <svg
              width="20"
              height="20"
              viewBox="0 0 24 24"
              class="flex-shrink-0 text-zinc-400 mr-2"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3 4V19H21V7H12L10 4H3Z"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                vector-effect="non-scaling-stroke"
              ></path></svg
            >Projects
          </p>
          <button
            class="flex items-center gap-1 outline-transparent focus:outline-2 focus:outline-blue-50 disabled:cursor-not-allowed relative md:ml-auto col-span-2 md:col-span-1 group-hover/link:underline text-zinc-800 hover:underline underline-offset-2 font-medium rounded-md px-1.5 pr-0"
          >
            Open<svg
              width="16"
              height="16"
              viewBox="0 0 24 24"
              class="flex-shrink-0"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 4L17 12L9 20"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                vector-effect="non-scaling-stroke"
              ></path>
            </svg></button
        ></a>
        <div class="border-b border-b-zinc-100"></div>

        <a
          href="/archive/copyables"
          class="flex justify-between gap-4 leading-none md:items-center group/link py-4 transition-colors hover:bg-zinc-100 rounded-md"
          ><p class="font-medium leading-snug md:col-span-2 flex items-center">
            <svg
              width="20"
              height="20"
              viewBox="0 0 24 24"
              class="flex-shrink-0 text-zinc-400 mr-2"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3 4V19H21V7H12L10 4H3Z"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                vector-effect="non-scaling-stroke"
              ></path></svg
            >Copyables
          </p>
          <button
            class="flex items-center gap-1 outline-transparent focus:outline-2 focus:outline-blue-50 disabled:cursor-not-allowed relative md:ml-auto col-span-2 md:col-span-1 group-hover/link:underline text-zinc-800 hover:underline underline-offset-2 font-medium rounded-md px-1.5 pr-0"
          >
            Open<svg
              width="16"
              height="16"
              viewBox="0 0 24 24"
              class="flex-shrink-0"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 4L17 12L9 20"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                vector-effect="non-scaling-stroke"
              ></path>
            </svg></button
        ></a>
        <div class="border-b border-b-zinc-100"></div>
      </div>
      <div class="bg-zinc-50 border border-zinc-200 w-full rounded-xl relative">
        <div
          class="absolute -inset-[1px] border border-zinc-200 rounded-xl z-30 pointer-events-none ring-4 ring-light-zinc"
        ></div>
        <div
          class="flex justify-between items-center w-full py-2 pl-4 pr-2 border-b border-zinc-200 bg-zinc-100 sticky top-10 lg:top-24"
        >
          <p class="text-zinc-500 text-sm text-center font-mono">README.md</p>
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            class="w-6 h-6 text-zinc-500 p-1 hover:bg-zinc-200 transition-colors rounded-md cursor-not-allowed"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.5 6L16.5 3L21 7.5L18 10.5M13.5 6L3 16.5V21H7.5L18 10.5M13.5 6L18 10.5"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              vector-effect="non-scaling-stroke"
            ></path>
          </svg>
        </div>
        <div class="w-full px-4 py-8">
          <p class="text-zinc-500 max-w-lg">
            In my archive, you will find smaller creations, MVPs, ideas and
            results from hackathons. Feel free to look through if you are
            interested.
          </p>
        </div>
      </div>
    </section>
  </div>
</main>
