<section class="w-full mx-auto lg:pt-8 lg:py-20 sm:mx-5">
  <h1 class="text-2xl font-semibold mb-16 w-full" style="font-family: Moranga bold; font-size: 40px;">About Me</h1>
  <div class="flex gap-12 lg:flex-row flex-col mb-24">
    <div class="max-w-[170px] w-full flex-shrink-0">
      <img id="avatar" src="./assets/avatars/laptop-avatar.png" class="tw-shadow aspect-square rounded-full" alt="saint avatar" />
      <!-- <img id="avatar" src="./assets/avatars/avatar-smile.png" class="tw-shadow aspect-square rounded-full" alt="saint avatar" /> -->
    </div>
    <div class="flex-grow md:max-w-md">
      <p class="text-zinc-500 mb-4">
        Hi 👋 I'm Saint , a Software Engineer and minimalist based in Kaduna,
        Nigeria. With over 2 years of hands-on experience,
        I've mastered the art of crafting seamless digital experiences.
      </p>
      <p class="text-zinc-500 mb-4">
        Functioning as an Angular Development specialist, I navigate effortlessly through technologies such as Tailwind
        CSS, Sass, JavaScript, TypeScript, Next.js, and Node.js. My primary focus is on utilizing coding as a means to
        unlock new possibilities for both individuals and businesses.
      </p>
      <p class="text-zinc-500 mb-4">
        I believe in the power of clean, efficient code to transform ideas into
        reality. Whether it's weaving the intricacies of Angular or navigating
        the frontiers of Next.js, I thrive on turning challenges into
        opportunities.
      </p>
      <p class="text-zinc-500 mb-4">
        I am fueled by a passion for
        crafting exceptional, high-performance applications. Coding is not just
        a job for me; it's a dynamic journey where I thrive on creating seamless
        and thoughtful solutions. Angular isn't just a framework; it's my canvas
        for shaping and enhancing the digital landscape.
      </p>

      <p class="text-zinc-500 mb-4">
        Beyond the lines of code, I treasure engaging conversations and the
        rhythm of good music, serving as catalysts that inspire and propel me in
        my creative process. Let's code a story where innovation and elegance
        converge, transforming lines of logic into extraordinary user
        experiences.
      </p>
    </div>
    <!-- <div class="flex-grow md:max-w-md">
      <p class="text-zinc-500 mb-4">
        Hi 👋 I'm Saint , a software engineer and minimalist based in Kaduna,
        Nigeria. I am 21 years old. With over 2 years of hands-on experience,
        I've mastered the art of crafting seamless digital experiences.
      </p>
      <p class="text-zinc-500 mb-4">
        As an Angular Dev extraordinaire, I dance effortlessly with technologies
        like Tailwind CSS, Sass, JavaScript, TypeScript, Next.js, and Node.js.
        My passion lies in unlocking new possibilities for individuals and
        businesses through the magic of coding.
      </p>
      <p class="text-zinc-500 mb-4">
        I believe in the power of clean, efficient code to transform ideas into
        reality. Whether it's weaving the intricacies of Angular or navigating
        the frontiers of Next.js, I thrive on turning challenges into
        opportunities.
      </p>
      <p class="text-zinc-500 mb-4">
        I am an enthusiastic Angular developer who is fueled by a passion for
        crafting exceptional, high-performance applications. Coding is not just
        a job for me; it's a dynamic journey where I thrive on creating seamless
        and thoughtful solutions. Angular isn't just a framework; it's my canvas
        for shaping and enhancing the digital landscape.
      </p>
      <p class="text-zinc-500 mb-4">
        Constantly pushing the boundaries of Angular development, I embark on a
        journey to craft unique and meaningful experiences. Much like design is
        to a designer, coding is an integral part of my daily life, and I
        believe it wields the power to elevate the digital realm.
      </p>
      <p class="text-zinc-500 mb-4">
        Beyond the lines of code, I treasure engaging conversations and the
        rhythm of good music, serving as catalysts that inspire and propel me in
        my creative process. Let's code a story where innovation and elegance
        converge, transforming lines of logic into extraordinary user
        experiences.
      </p>
    </div> -->
    
    <div class="max-w-s mx-7 flex gap-20  w-full lg:ml-auto xs:grid xs:grid-cols-2">
      <div class="self-start mb-10 xs:mb-0">
        <h2 class="font-semibold mb-3">Socials</h2>
        <ul class="space-y-2 -ml-1">
          <li>
            <a href="https://twitter.com/drealdumore"
              class="flex items-center gap-1 outline-transparent focus:outline-2 focus:outline-blue-50 disabled:cursor-not-allowed -ml-0.5 text-zinc-800 hover:underline underline-offset-2 font-medium rounded-md px-1.5 cursor-alias">
              x.com
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/isah-samuel/"
              class="flex items-center gap-1 outline-transparent focus:outline-2 focus:outline-blue-50 disabled:cursor-not-allowed -ml-0.5 text-zinc-800 hover:underline underline-offset-2 font-medium rounded-md px-1.5 cursor-alias">
              LinkedIn
            </a>
          </li>
          <li>
            <a href="https://github.com/drealdumore"
              class="flex items-center gap-1 outline-transparent focus:outline-2 focus:outline-blue-50 disabled:cursor-not-allowed -ml-0.5 text-zinc-800 hover:underline underline-offset-2 font-medium rounded-md px-1.5 cursor-alias">
              GitHub
            </a>
          </li>
        </ul>
      </div>

      <div>
        <h2 class="font-semibold mb-3">Contact</h2>
        <ul class="space-y-2 -ml-1">
          <li>
            <a href="mailto:samuelisah234@gmail.com"
              class="flex items-center gap-1 outline-transparent focus:outline-2 focus:outline-blue-50 disabled:cursor-not-allowed -ml-0.5 text-zinc-800 hover:underline underline-offset-2 font-medium rounded-md px-1.5 cursor-alias">
              Email
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- 
<div class="container flex justify-between">
  <section class="about_like__yZpU0">
    <h2>Things I like</h2>
    <ul>
      <li>
        <a
          href="https://www.cosmos.so/stallboerger/goods"
          class="text-black underline hover:decoration-titan-200"
          target="_blank"
          rel="noreferrer"
          >Quality goods</a
        >
      </li>
      <li>Wearing black</li>
      <li>
        <a
          href="https://music.apple.com/de/playlist/con-amore/pl.u-r2yBDE4tdN97Zo?l=en-GB"
          class="text-black underline hover:decoration-titan-200"
          target="_blank"
          rel="noreferrer"
          >Piano music</a
        >
      </li>
      <li>Good food</li>
      <li>Mountains</li>
      <li>
        <a
          href="https://www.cosmos.so/stallboerger/architecture"
          class="text-black underline hover:decoration-titan-200"
          target="_blank"
          rel="noreferrer"
          >Architecture</a
        >
      </li>
      <li>
        <a
          href="https://www.cosmos.so/stallboerger/interior"
          class="text-black underline hover:decoration-titan-200"
          target="_blank"
          rel="noreferrer"
          >Interior Design</a
        >
      </li>
    </ul>
  </section>

  <section class="about_dislike__ONIDf">
    <h2>Things I don’t like</h2>
    <ul>
      <li>Waiting for food</li>
      <li>Smalltalk</li>
      <li>Sparkling water</li>
      <li>Alcohol</li>
      <li>Crowds</li>
    </ul>
  </section>
</div> -->