<section class="w-full lg:pt-8">
  <h1 class="text-2xl font-semibold mb-16 w-full">About Saint</h1>
  <div class="flex gap-12 lg:flex-row flex-col mb-24">
    <div class="max-w-[170px] w-full flex-shrink-0">
      <img
        src="./assets/avatars/avatar-smile.png"
        class="aspect-square rounded-full"
        alt="saint avatar"
      />
    </div>
    <div class="flex-grow md:max-w-md">
      <p class="text-zinc-500 mb-4 dark:text-zinc-400">
        Hi 👋 I'm Saint , a software engineer and minimalist based in Kaduna, Nigeria.
        I am 21 years old, but have at least 2 years of experience.
        
      </p>
      <p class="text-zinc-500 mb-4 dark:text-zinc-400">
        
      </p>
      <p class="text-zinc-500 mb-4 dark:text-zinc-400">
        I have learned coding in addition, opening whole
        new possibilities for people and companies I work with. The job title I
        love using for this unique field is:<br /><span class="font-medium"
          >Angular Dev</span
        >.
      </p>
    </div>
    <div class="max-w-s w-full flex-shrink-0 lg:ml-auto xs:grid xs:grid-cols-2">
      <div class="self-start mb-10 xs:mb-0">
        <h2 class="font-semibold mb-3">Socials</h2>
        <ul class="space-y-2 -ml-1">
          <li>
            <button
              class="flex items-center gap-1 outline-transparent focus:outline-2 focus:outline-blue-50 disabled:cursor-not-allowed -ml-0.5 text-zinc-800 hover:underline underline-offset-2 font-medium rounded-md px-1.5 dark:text-zinc-200 cursor-alias"
            >
              x.com
            </button>
          </li>
          <li>
            <button
              class="flex items-center gap-1 outline-transparent focus:outline-2 focus:outline-blue-50 disabled:cursor-not-allowed -ml-0.5 text-zinc-800 hover:underline underline-offset-2 font-medium rounded-md px-1.5 dark:text-zinc-200 cursor-alias"
            >
              LinkedIn
            </button>
          </li>
          <li>
            <button
              class="flex items-center gap-1 outline-transparent focus:outline-2 focus:outline-blue-50 disabled:cursor-not-allowed -ml-0.5 text-zinc-800 hover:underline underline-offset-2 font-medium rounded-md px-1.5 dark:text-zinc-200 cursor-alias"
            >
              Read.cv
            </button>
          </li>
          <li>
            <button
              class="flex items-center gap-1 outline-transparent focus:outline-2 focus:outline-blue-50 disabled:cursor-not-allowed -ml-0.5 text-zinc-800 hover:underline underline-offset-2 font-medium rounded-md px-1.5 dark:text-zinc-200 cursor-alias"
            >
              GitHub
            </button>
          </li>
        </ul>
      </div>
      <div class="place-self-end self-start">
        <h2 class="font-semibold mb-3">Contact</h2>
        <ul class="space-y-2 -ml-1">
          <li>
            <button
              class="flex items-center gap-1 outline-transparent focus:outline-2 focus:outline-blue-50 disabled:cursor-not-allowed -ml-0.5 text-zinc-800 hover:underline underline-offset-2 font-medium rounded-md px-1.5 dark:text-zinc-200 cursor-alias"
            >
              Email
            </button>
          </li>
          <li>
            <button
              class="flex items-center gap-1 outline-transparent focus:outline-2 focus:outline-blue-50 disabled:cursor-not-allowed -ml-0.5 text-zinc-800 hover:underline underline-offset-2 font-medium rounded-md px-1.5 dark:text-zinc-200 cursor-alias"
            >
              iMessage
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
