<nav
  class="sticky lg:top-0 lg:bottom-auto lg:border-t-transparent lg:border-l-transparent lg:border-r-transparent lg:border-b border border-zinc-200 lg:border-b-zinc-100 bg-white z-[51] top-auto bottom-8 mb-8 w-full lg:max-w-none max-w-[90%] mx-auto rounded-full lg:rounded-none shadow-xl shadow-black/5 lg:shadow-none"
>
  <div
    class="w-full flex items-center justify-between max-w-screen-lx mx-auto md:px-10 min-[350px]:px-4 xs:px-3"
  >
    <div class="items-center flex-shrink-0 mr-6 hidden md:flex">
      <div class="group/all -ml-1 cursor-pointer">
        <p
          class="text-lg font-medium group-hover/all:text-zinc-500 transition-colors relative"
        >
          <span class="group relative">Saint</span>
        </p>
      </div>
    </div>
    <div
      class="flex items-center md:gap-8 gap-2 justify-between md:justify-normal w-full md:w-auto lg:px-0 md:px-1.5 px-0"
      id="nav-links"
    >
      <a
        href="/about"
        class="text-zinc-400 hover:text-black before:opacity-0 py-4 transition-colors duration-150 before:absolute group font-medium md:w-auto w-full text-center before:inset-x-0 before:-bottom-[3px] before:h-[1px] before:bg-black max-md:before:hidden relative z-10 text-sm xs:text-base"
        >About</a
      ><a
        href="/stack"
        class="text-zinc-400 hover:text-black before:opacity-0 py-4 transition-colors duration-150 before:absolute group font-medium md:w-auto w-full text-center before:inset-x-0 before:-bottom-[3px] before:h-[1px] before:bg-black max-md:before:hidden relative z-10 text-sm xs:text-base"
        >Stack</a
      ><a
        href="/bookmarks"
        class="text-zinc-400 hover:text-black before:opacity-0 py-4 transition-colors duration-150 before:absolute group font-medium md:w-auto w-full text-center before:inset-x-0 before:-bottom-[3px] before:h-[1px] before:bg-black max-md:before:hidden relative z-10 text-sm xs:text-base"
        >Bookmarks</a
      >
      <div
        style="left: 819.85px; width: 51.1167px"
        class="md:h-[1px] h-12 lg:-translate-x-0 md:-translate-x-8 translate-x-0 flex-shrink-0 absolute md:bottom-[-1px] bg-black rounded-full md:rounded-none transition-all"
      ></div>
    </div>
  </div>
</nav>

<!-- <div
  class="scrollable-area relative w-full hidden bg-zinc-50 lg:flex lg:flex-col lg:border-r lg:w-80 xl:w-96"
>
  <div class="sticky top-0 z-10 border-b bg-zinc-50 px-5 py-3">
    <div class="flex items-center justify-between">
      <div class="text-sm font-semibold tracking-tight">
        <a href="/bookmarks">Bookmarks</a>
      </div>
      <a
        title="RSS feed"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center justify-center font-medium transition-colors duration-300 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none disabled:opacity-50 dark:focus-visible:ring-gray-300 border border-gray-200 bg-transparent shadow-sm hover:bg-gray-100 hover:text-gray-900 dark:border-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-50 h-7 rounded-md px-2.5 text-xs"
        href="/bookmarks.xml"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-radio mr-2"
        >
          <path d="M4.9 19.1C1 15.2 1 8.8 4.9 4.9"></path>
          <path d="M7.8 16.2c-2.3-2.3-2.3-6.1 0-8.5"></path>
          <circle cx="12" cy="12" r="2"></circle>
          <path d="M16.2 7.8c2.3 2.3 2.3 6.1 0 8.5"></path>
          <path d="M19.1 4.9C23 8.8 23 15.1 19.1 19"></path></svg
        >RSS feed</a
      >
    </div>
  </div>
  <div class="bg-zinc-50 p-3">
    <div class="flex flex-col gap-1 text-sm">
      <a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 bg-black"
        href="/bookmarks/apps-and-tools"
        ><span class="font-medium text-white">Apps &amp; Tools</span
        ><span class="text-slate-300">125 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/art-and-prints"
        ><span class="font-medium">Art &amp; Prints</span
        ><span class="text-slate-500">39 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/books-and-magazines"
        ><span class="font-medium">Books &amp; Magazines</span
        ><span class="text-slate-500">10 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/design"
        ><span class="font-medium">Design</span
        ><span class="text-slate-500">67 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/fonts"
        ><span class="font-medium">Fonts</span
        ><span class="text-slate-500">64 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/frontend"
        ><span class="font-medium">Frontend</span
        ><span class="text-slate-500">177 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/icons"
        ><span class="font-medium">Icons</span
        ><span class="text-slate-500">24 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/portfolio"
        ><span class="font-medium">Portfolio</span
        ><span class="text-slate-500">140 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/reading"
        ><span class="font-medium">Reading</span
        ><span class="text-slate-500">143 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/tweets"
        ><span class="font-medium">Tweets</span
        ><span class="text-slate-500">42 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/vs-code"
        ><span class="font-medium">VS Code</span
        ><span class="text-slate-500">25 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/wallpapers"
        ><span class="font-medium">Wallpapers</span
        ><span class="text-slate-500">27 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/websites"
        ><span class="font-medium">Websites</span
        ><span class="text-slate-500">186 bookmarks</span></a
      >
    </div>
  </div>
</div> -->
