<div
  class="scrollable-area relative w-full hidden bg-zinc-50 lg:flex lg:flex-col lg:border-r lg:w-80 xl:w-96"
>
  <div class="sticky top-0 z-10 border-b bg-zinc-50 px-5 py-3">
    <div class="flex items-center justify-between">
      <div class="text-sm font-semibold tracking-tight">
        <a href="/bookmarks">Bookmarks</a>
      </div>
    </div>
  </div>
  <div class="bg-zinc-50 p-3">
    <div class="flex flex-col gap-1 text-sm">
      <a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 bg-black"
        href="/bookmarks/apps-and-tools"
        ><span class="font-medium text-white">Apps &amp; Tools</span
        ><span class="text-slate-300">125 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/art-and-prints"
        ><span class="font-medium">Art &amp; Prints</span
        ><span class="text-slate-500">39 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/books-and-magazines"
        ><span class="font-medium">Books &amp; Magazines</span
        ><span class="text-slate-500">10 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/design"
        ><span class="font-medium">Design</span
        ><span class="text-slate-500">67 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/fonts"
        ><span class="font-medium">Fonts</span
        ><span class="text-slate-500">64 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/frontend"
        ><span class="font-medium">Frontend</span
        ><span class="text-slate-500">177 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/icons"
        ><span class="font-medium">Icons</span
        ><span class="text-slate-500">24 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/portfolio"
        ><span class="font-medium">Portfolio</span
        ><span class="text-slate-500">140 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/reading"
        ><span class="font-medium">Reading</span
        ><span class="text-slate-500">143 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/tweets"
        ><span class="font-medium">Tweets</span
        ><span class="text-slate-500">42 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/vs-code"
        ><span class="font-medium">VS Code</span
        ><span class="text-slate-500">25 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/wallpapers"
        ><span class="font-medium">Wallpapers</span
        ><span class="text-slate-500">27 bookmarks</span></a
      ><a
        class="flex flex-col gap-1 rounded-lg p-2 transition-colors duration-300 [&amp;>*]:transition-colors [&amp;>*]:duration-300 hover:bg-gray-200"
        href="/bookmarks/websites"
        ><span class="font-medium">Websites</span
        ><span class="text-slate-500">186 bookmarks</span></a
      >
    </div>
  </div>
</div>
