<main class="w-full relative max-w-screen-lx mx-auto md:px-10 px-6 min-h-screen pt-16 lg:pt-0">

    <div class="flex items-center mb-4 py-2 bg-transparent sticky top-0 lg:top-14 z-50">
        <div
            class="w-[99vw] bg-light-zinc/95 backdrop-blur-xl dark:bg-black/90 absolute top-0 bottom-0 left-1/2 -translate-x-1/2">
        </div>
        <div class="flex relative z-20"><a
                class="text-black  transition-colors  underline hover:no-underline underline-offset-2 px-1.5 -ml-1.5 font-medium"
                href="/" target="_self">Saint</a>
            <p> / </p><a
                class="text-black  transition-colors  underline hover:no-underline underline-offset-2 px-1.5 line-clamp-1 font-medium"
                href="/stack" target="_self"> Projects</a>
            <p> / </p>
            <p class="font-medium px-1.5 text-zinc-400 dark:text-zinc-600 truncate">{{project.name}}</p>
        </div>
    </div>
    <div class="flex w-full md:pt-5">
        <div style="max-width:620px" class="w-full px-5 mx-auto relative">
            <div class="inline-flex flex-col items-center justify-start w-full pb-32">

                <h1 class="text-xl mb-5 capitalize font-black md:text-2xl text-center max-w-[620px] mx-auto "
                    style="font-family: Moranga bold; font-size: 40px;">
                    {{project.name}}
                </h1>
                <div class="flex mb-5 space-x-4 text-xs">
                    @for(tech of project.tech; track tech) {
                    <div
                        class="font-mono border border-gray-200 capitalize px-2 py-2  rounded-md text-gray-600 dark:text-gray-400 shadow-[0_1px_2px_rgba(0,0,0,0.08)] dark:shadow-[0_1px_2px_rgba(0,0,0,0.3)] text-xs">
                        {{tech}}</div>
                    }
                </div>
                <div class="flex justify-center items-center space-x-5 max-w-[620px] w-full mt-5 mb-10">
                    <a [href]="project.link" target="_blank"
                        class=" link-btn flex items-center justify-center w-[80] tw-shadow px-4 py-2 text-base text-center text-white bg-slate-900 rounded-lg shadow-lg cursor-alias">
                        <span>Web</span>
                        <span class="w-5 h-5">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                                color="#000000" fill="none">
                                <path d="M17 7L6 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                <path
                                    d="M11 6.13151C11 6.13151 16.6335 5.65662 17.4885 6.51153C18.3434 7.36645 17.8684 13 17.8684 13"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg></span></a>
                </div>
                <div class="inline-block mx-auto post-content">
                    <img [src]="project.img" alt="Write It Screenshot" class="rounded-md mb-4 tw-shadow">
                    <p>{{project.description}}</p>
                    <h2 class="text-xl mb-5 my-5 font-bold mt-6">Features</h2>
                    <ul class="list-disc">
                        @for(feature of project.features; track feature) {
                        <li class="mb-2">{{feature}}</li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

