@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    font-family: "Josefin Sans" system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;
  }
}

::selection {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  // color: rgb(17 24 39 / var(--tw-text-opacity));
  // overflow: hidden;
}

.tw-shadow {
  box-shadow: 0 0 0 0.5px #e2e8f0, 0 0 0 1px rgba(226, 232, 240, 0.5),
    0 0 0 3px #f8fafc, 0 0 0 3.5px #f1f5f9, 0 10px 15px -3px rgb(59 130 246/5%),
    0 4px 6px -4px rgb(59 130 246/5%);
}

#avatar {
  background: #dcdcdc;
}

@font-face {
  font-family: Moranga bold;
  src: url("/assets/moranga-bold.otf");
}

.box-shadow-btn {
  background-color: rgb(0, 0, 0);
  // background-color: rgb(47, 47, 47);
  height: 100%;
  opacity: 1;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px -2px 4px 0px inset;
}

.active {
  color: black !important;
  font-weight: 900;

  @media (max-width: 1023px) {
    color: white !important;
    background: black;
    width: 12rem;
    height: 2.5rem;
    // width: 5rem;
    // height: 1rem;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
}

.link-btn {
  height: 38px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  padding: 0px 16px;
  border-radius: 8px;
  letter-spacing: 0.25px;
  font-size: 14px;
  margin-right: 8px;
  font-weight: 600;
  border: medium;
  transition: all 0.2s ease-out 0s;
  background: rgb(237, 233, 233);
  color: rgb(13, 17, 23);
}

.link-btn:hover {
  transition: all 0.2s ease-out 0s;
  cursor: alias;
  background: rgb(227, 224, 224);
}
