@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    font-family: "Atkinson Hyperlegible", "Proxima Nova", system-ui, sans-serif;
  }
}
