<section class="w-full relative h-full mb-24 lg:mb-0">
  <div
    class="2xl:w-[99vw] md:w-[98vw] w-[97vw] overflow-hidden relative left-1/2 -translate-x-1/2 inset-0 py-16 bg-zinc-100 h-full border-y border-y-zinc-200"
  >
    <div class="w-full relative max-w-screen-lx mx-auto md:px-10 px-12 z-10">
      <h2 class="text-xl font-semibold leading-snug mb-4">
        Join my personal waitlist
      </h2>
      <p class="mb-6 text-zinc-500">
        I'm currently working on a new project and want to inform you first when
        it's ready. I therefore created this personal waitlist. I will never
        spam you and will only update you when I have something really useful to
        share.
      </p>
      <div class="w-full py-4">
        <div class="flex gap-4 group sticky bottom-0.5 -left-1 -right-1">
          <form class="relative w-full">
            <input
              type="text"
              placeholder="john.doe@domain.com"
              class="w-full placeholder:text-zinc-400 relative top-[1px] disabled:cursor-not-allowed outline-0 outline-zinc-500/0 transition-all focus:outline-4 focus:outline-zinc-500/10 outline-offset-1 px-6 py-3 rounded-full bg-white border border-zinc-200 focus:border-zinc-300"
            /><button
              class="flex items-center gap-1 outline-transparent focus:outline-2 focus:outline-blue-50 disabled:cursor-not-allowed absolute right-1 top-1/2 -translate-y-1/2 group/button leading-none overflow-hidden md:hover:pl-28 mt-[1px] font-semibold rounded-xl transition-all duration-200 border px-5 py-2.5 text-white bg-black hover:bg-zinc-800 border-zinc-800 hover:border-zinc-600"
              style="border-radius: 1000px"
            >
              <p
                class="absolute hidden md:block transition-all opacity-0 md:group-hover/button:block group-hover/button:opacity-100 -left-[100%] group-hover/button:left-4 duration-200"
              >
                Subscribe
              </p>
              <svg
                width="16"
                height="16"
                viewBox="0 0 24 24"
                class="w-5 h-5 rotate-90"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12ZM8.29289 10.2929C7.90237 10.6834 7.90237 11.3166 8.29289 11.7071C8.68342 12.0976 9.31658 12.0976 9.70711 11.7071L11 10.4142V16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V10.4142L14.2929 11.7071C14.6834 12.0976 15.3166 12.0976 15.7071 11.7071C16.0976 11.3166 16.0976 10.6834 15.7071 10.2929L12.7071 7.29289C12.3166 6.90237 11.6834 6.90237 11.2929 7.29289L8.29289 10.2929Z"
                  fill="currentColor"
                  vector-effect="non-scaling-stroke"
                ></path>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
